div.fixed
  nav(data-magellan-expedition="fixed")
    ul.sub-nav.text-center
      li(data-magellan-arrival="top"): a(href="#top") #{site.title}
      li(data-magellan-arrival="manifesto"): a(href="#manifesto") Manifesto
      li(data-magellan-arrival="credibility"): a(href="#credibility") Credibility
      li(data-magellan-arrival="people"): a(href="#people") People
      li(data-magellan-arrival="case-history"): a(href="#case-history") Case History
      li(data-magellan-arrival="business-plan"): a(href="#business-plan") Business Plan