aside.left-off-canvas-menu

  ul.off-canvas-list
    li: label Pages
    li: a(href="#") Homepage
    li: a(href="#") Page 1
    li: a(href="#") Page 2
    li: a(href="#") Subpage 1
    li: a(href="#") Subpage 2
    li: a(href="#") Page 3
    li: a(href="#") Page 4
    li: label Social
    li
      a(href="#")
        i.fi-social-twitter
    li
      a(href="#")
        i.fi-social-facebook
    li: label Search
    li
      .row.collapse
        .columns.small-9.large-8
          input(type="text", placeholder="Search…")
        .columns.small-3.large-4
          a(href="#").button.postfix
            i.fi-magnifying-glass