section#business-plan(data-magellan-destination="business-plan")

  header.row
    h1.text-center.bold Business Plan

  article.row

    header.columns.small-12
      h1.text-center Economics di Start Up

    .columns.small-12
      h3.text-center.tp-space Assumption
      p
      | Everywhere per come è stata pensata,  è una start up al massimo della virtualizzazione possibile. Tutti e 25 i membri partecipanti lavoreranno da casa con dotazioni tecnologiche fornite dall’azienda. Gli incontri dei gruppi di lavoro e dell’intera azienda avverranno, a seconda delle emozioni del momento e della stagione, in luoghi non convenzionali indoor e outdoor scelti di volta in volta in relazione all’oggetto del lavoro stesso. Questa scelta è ispirata a modelli organizzativi innovativi, all’enfatizzazione della libertà creativa individuale e al concepimento di una economia di funzionamento in grado di supportare lo start up.
      br
      | Per quanto attiene le tecnologie Everywhere si doterà di dispositivi informatici individuali, di tecnologie video e fotografiche in grado di sostenere l’intero processo dalla ripresa alla post-produzione e di una rete cellulare voce e dati.
      br
      | Per quanto riguarda stabilimenti di produzione, sale posa e altri siti produttivi si ricorrerà all’affitto secondo le esigenze dei singoli progetti.
      br
      | Everywhere assume di realizzare gli strumenti di comunicazione e di promozione in house.
      br
      | Come modello di remunerazione delle risorse umane coinvolte abbiamo assunto l’ipotesi di una società cooperativa. La retribuzione dei 25 partecipanti l’impresa sarà così ripartita:
      ol
        li Remunerazione diretta: a seconda del lavoro svolto all’interno di ogni singolo progetto.
        li Remunerazione variabile: attraverso l’equa ripartizione dell’utile di esercizio annuale.
      p Ai fini degli economics previsionali assumiamo la ripartizione 70/30 fra remunerazione diretta e indiretta dei ricavi di progetto.

    .clearfix
    br

    .columns.small-12.large-6
      h3.bold Investimenti
      ul.disc
        li
          | Costituzione della società:
          b  3.000 euro
        li
          | 25 tecnologie informatiche individuali:
          b  75.000 euro
        li
          | Tecnologie di ripresa, post-produzione, hardware e software:
          b  50.000 euro
        li
          | Campagna di web marketing per il lancio dell’iniziativa:
          b  25.000 euro
      p
        | L’ ammontare totale degli investimenti è pari a
        b  153.000 euro.
      p
        | Il periodo di ammortamento previsto è di
        b  5 anni
        |. Ogni rateo di ammortamento sarà di
        b  30.600 euro
        | .

    .columns.small-12.large-6
      h3.bold
        | Costi di funzionamento
        small  (yearly)
      ul.disc
        li
          | Locazione:
          b  0 euro
        li
          | Utenze energia:
          b  0 euro
        li
          | Utenze dati e voce mobile:
          b  7.500 euro
        li
          | Viaggi, trasferte e spese varie:
          b  10.000 euro
        li
          | Campagna costante di web marketing per politiche di sviluppo business:
          b  12.000 euro
      p
        | Il totale dei costi di funzionamento ammonta a
        b  29.500 annui
        | .

    .clearfix
    br
    .columns.small-12
      h3.bold.text-center Ipotesi di risultato
      p
        | Basandosi sul modello di retribuzione delle risorse, le assumption e gli economics daranno come ipotetico risultato che il 70% dei ricavi retribuirà il lavoro mentre il restante 30% verrà utilizzato come ricavo aziendale per spesare:
        ul.disc
          li
            | Costi annuali di funzionamento:
            b  29.500 euro
          li
            | Quota annuale di ammortamenti:
            b  30.600 euro
        | Per un totale di
        b  60.100 euro
        | .
      p
        | Il
        b  30%
        |  dei ricavi annuali non utilizzato per la remunerazione diretta del lavoro consentirà il raggiungimento del BEP (copertura dei costi di funzionamento) con
        b  200.000 euro
        |  di ricavi annui.
      p
        | L’analisi del valore medio di vendita di un intervento di marketing, dai dati disponibili nelle associazioni di categoria, ci indica un valore medio di intervento di
        b  20.000 euro
        | . Pertanto l’equilibrio del progetto Everywhere si raggiunge con una base di
        b  10 progetti l’anno
        | .
      p
        | Non essendo i proponenti nella condizione di immettere l’equity necessaria per lo start up del progetto, si ipotizza di ricorrere a mezzi di terzi e la necessità che viene stimata è di
        b  150.000 euro
        |.
      p
        | I mezzi di terzi, ove non corrisposti come equity, potranno essere rimborsati in
        b  5 anni
        | .
      p
        | In via alternativa l’equity potrà essere surrogata da garanzie sui leasing dei beni strumentali e degli affidamenti bancari per un importo di
        b  150.000 euro
        | .

    .columns.small-12.large-5.large-centered
      h3.bold.text-center.tp-space Affidavit
      ul.disc
        li
          | Capitale di rischio:
          b  150.000 euro
        li
          | Modello di business:
          b  altamente innovativo
        li
          | Segmento di mercato:
          b  consolidato e in crescita
        li
          | Occupazione diretta:
          b  25 elementi
        li
          | Capitale di rischio per occupato:
          b  6.000 euro