section#case-history(data-magellan-destination="case-history")

  header.row
    h1.text-center.bold Case History

  article.row
    header.columns.small-12
      h1.text-center One chance

    .columns.small-12.large-6
      h4 Sinossi
      p Dal regista de "Il Diavolo veste Prada", ONE CHANCE, il film ispirato all'incredibile storia di Paul Potts, interpretato da James Corden, un uomo che fin da giovane è sempre stato emarginato e deriso e nonostante gli imprevisti incontrati nel suo percorso decide di realizzare il suo più grande sogno, diventare un cantante lirico di fama mondiale, grazie al suo talento e determinazione.

      video(width="100%" preload controls)
        source(src="video/one-chance-trailer.mp4", type="video/mp4")

    .columns.small-12.large-6
      h4 Paul Potts
      p Paul Potts nasce a Bristol nel 1970 e vive un'infanzia tormentata da atti di bullismo e fallimenti. A 16 anni si innamora dell'Opera ascoltando la "Boheme". Questo amore lo porta a intraprendere un faticoso cammino artistico, Paul ottiene la sua rivincita esibendosi e vincendo nel 2007 "Britain's Got Talent". Diventando un artista di fama mondiale, la sua vita cambia radicalmente. Sempre nel 2007 incide il suo primo disco "One Chance" che riscuote un grande successo, tanto da ispirare il registra David Frankel a portare la sua storia sul grande schermo. Nel 2009 esce il secondo album "Passione", seguito nel 2010 da "Cinema Paradiso". Nel 2013 raccoglie le sue hits più famose nell’album "Greatest Hits" e nel 2014 con l’incisione dell’album “Home” racconta al pubblico la sua visione della musica.

  article.viewport-height.vertical-align
    h1.logo.text-center.bold Everywhere

  article.row
    header.columns.small-12
      h2.text-center Vincerò
      br
    .columns.small-12
      h3.text-center.bold Concept
      p Nella vita non conta essere un perdente o un vincente. L'importante è affrontare ogni sfida quotidiana con la convinzione di potercela fare. Qualunque sia la tua sfida, per quanto ardua e disperata, non bisogna arrendersi. Il vero talento è crederci, se non rischi non vinci e a chi non si arrende mai noi dedichiamo il nostro titolo.
      p L’intellettura del concept ci ha guidato alla scelta di VINCERO’ quale titolo italiano del film.
      br
      h3.text-center.bold.tp-space Target
      .row
        .columns.small-12.large-6
          h4 I ragazzi Yes we Can
          p Costituito in maggior parte da giovani tra i 17 e i 25 anni, prevalentemente femminile, che risiedono in grandi o piccoli centri sparsi per tutto il territorio nazionale. La dotazione di risorse socio-culturali è medio-alta. Sono in prevalenza studenti e giovani lavoratori insoddisfatti del proprio lavoro che vivono con i genitori o grazie ai genitori, dunque l’istruzione è medio-alta ma il reddito è di livello un po’ superiore in quanto generalmente utilizzano tutto il reddito stesso per i consumi diversi da casa, utenze, famiglia. Sono molto attivi e ricettivi dal punto di vista culturale. Riguardo la loro vita, il divertimento e il piacere hanno una forte rilevanza e si soffermano molto anche nella progettazione del futuro e nella realizzazione del “sogno”. Nei confronti della politicano nutrono disinteresse e sfiducia, sia a livello di partecipazione che di semplice informazione. Il target è interessato al settore televisivo dei talent show. I criteri di consumo sono emozionali: acquistano d’impulso e sono molto attratti dai prodotti innovativi. Sono molto disorganizzati negli acquisti. Sono i maggiori fruitori di cinema e lo consumano nei multiplex.
        .columns.small-12.large-6
          h4 La grande bellezza del bel canto, i melomani
          p Il secondo target che deve essere preso in considerazione, seppur in maniera meno prevalente, è quello composto dagli anziani, intesi al 90% come superiori ai 54 anni (66% oltre ai 64). Più precisamente il target in considerazione possiede un livello d’istruzione basso con una dotazione reddituale buona; sono in larga parte pensionati. Sono caratterizzati da approcci razionali: hanno fiducia in se stessi e nelle cose che possono fare. Negli acquisti sono razionali, con un forte accento sulla qualità e al confronto fra le alternative. Fra le mete nella vita vi è la cura di sé, della propria spiritualità e la stima sociale. Sono vaste le aree di vita con elevata soddisfazione, come la famiglia, il reddito e la città in cui vivono. Dedicano molto del loro tempo libero ai libri, alla tv, alla famiglia e al cinema che costituiscono la maggior parte delle loro attività di consumo culturale, essendo, per il resto, poco orientati all’outdoor in questo campo. Proprio per questo sono stati individuati come possibili consumatori del prodotto cinematografico preso in esame.
      br
      br
      .row
        .columns.small-12.large-6
          h4.bold Campagna di marketing
          p
          | La campagna di marketing sarà strutturata seguendo due approcci:
          ul
            li Quello convenzionale e quello non convenzionale in modalità virale.
            li Per quanto riguarda la campagna convenzionale saranno utilizzati i seguenti strumenti di comunicazione:
            ul.disc
              li Outdoor Visual
              li POS Visual
              li Spot Radio
              li Trailer TV
              li Trailer Cinema
              li Trailer Web
              li Social Media
              li ADWords
              li Hashtag di campagna e viral #vincerò
          p
          | Per la campagna unconventional abbiamo previsto:
          ul
            li Ambient Marketing Campaign #vincerò
            li Web Contest Dubsmash (i vincitori verranno invitati alla prima-evento).

        .columns.small-12.large-6
          h4.bold Visual
          img(src="images/locandina.jpg", alt="")
      br
      br
      br
      .row
        .columns.small-12.large-6
          video(width="100%" preload controls)
            source(src="video/virale.mp4", type="video/mp4")
          br
          video(width="100%" preload controls)
            source(src="video/video-dubsmash-factory-new.mp4", type="video/mp4")
        .columns.small-12.large-6
          h4.bold Trailer storyboard:
          ul
            li Il giovanissimo Paul viene inseguito da un gruppo di coetanei.
            li Paul ormai adulto e innamorato dell'Opera, a tavola, simula i movimenti di un direttore di orchestra e il padre gli dimostra tutta la sua disapprovazione.
            li Paul travestito da pagliaccio si esibisce in un locale e viene deriso da tutto il pubblico.
            li Paul durante una passeggiata romantica racconta a Julie i suoi progetti per il futuro e la sua volontà di andare a Venezia.
            li Paul in ritardo per la lezione corre per i corridoi dell'Accademia di Venezia.
            li Paul fallisce l'esibizione davanti a uno dei suoi più grandi idoli, Pavarotti.
            li Demoralizzato Paul torna a condurre la solita vita in Inghilterra.
            li Paul scopre l'esistenza di Britain’s Got Talent e grazie al supporto morale di Julie decide di iscriversi alla gara.
            li Paul si esibisce per la prima davanti a un grande pubblico (sottofondo Nessun Dorma).
        .columns.small-12
          h4.bold La prima evento:
          p Il lancio avrà luogo in un teatro di Roma, dotato di strumenti adatti alla proiezione digitale. Al termine della stessa verrà allestito un buffet a base di un elegante finger food con un sottofondo di opera lirica. Prima dell’inizio della proiezione alcuni giovani tenori, seduti tra il pubblico, si alzeranno a sorpresa e canteranno “vincerò”. Gli invitati saranno selezionati e contattati dalla distribuzione, che assisteranno alla proiezione insieme ai vincitori del contest. Dress code: black tie Gadget: moleskine personalizzata con fogli pentagrammati.