section#credibility.viewport-height.vertical-align(data-magellan-destination="credibility")
  .row
    .yes.columns.small-12
      h1 Crediamo in noi
      h1 Crediamo in voi
    hr
    .no.columns.small-12.text-right
      h1 Non crediamo nell’impossibile
      h1 Non crediamo nelle seconde volte