section#intro(data-magellan-destination="intro")
  h1.text-center.show-for-small-only #{site.title}
  video.show-for-medium-up(width="100%" preload="auto" autoplay muted volume="0" poster="images/video-cover.png")
    source(src="video/logo-animation-large.mp4", type="video/mp4")