section#manifesto.viewport-height.vertical-align(data-magellan-destination="manifesto")
  .row
    .column.small-12
      h1 Manifesto
      p
        | Siamo una
        b  macchina umana
        |  capace di creare emozioni.
      p
        | Trasformiamo i tuoi prodotti reinventandoli in
        b  esperienze coinvolgenti
        | ,
        b  condivise
        |  e
        b  uniche
        | .
      p
        | Siamo giovani creativi provenienti da diversi settori,
        b  innamorati
        |  del lavoro di gruppo.
      p
        | La nostra missione è trasformare ogni prodotto in un
        b  evento memorabile
        |  e
        b  inarrestabile
        | .
      p
        | Arriviamo ovunque.
        i  Everywhere