section#people(data-magellan-destination='people')

  .row.collapse
    header.columns.small-12.text-center
      h1 People

    // Advertising
    .member.columns.small-6.medium-3.large-2
      .profile
        img(src='images/team/advertising/carolina-palombo-bw.jpg', alt='Carolina Palombo')
        span.filter.advertising
      .name.text-center.vertical-align
        h1
          | Carolina Palombo
          small Advertising

    .member.columns.small-6.medium-3.large-2
      .profile
        img(src='images/team/advertising/erika-metoldo-bw.jpg', alt='Erika Metoldo')
        span.filter.advertising
      .name.text-center.vertical-align
        h1
          | Erika Metoldo
          small Advertising

    .member.columns.small-6.medium-3.large-2
      .profile
        img(src='images/team/advertising/ilaria-viola-bw.jpg', alt='Ilaria Viola')
        span.filter.advertising
      .name.text-center.vertical-align
        h1
          | Ilaria Viola
          small Advertising

    .member.columns.small-6.medium-3.large-2
      .profile
        img(src='images/team/advertising/martina-pietraforte-bw.jpg', alt='Martina Pietraforte')
        span.filter.advertising
      .name.text-center.vertical-align
        h1
          | Martina Pietraforte
          small Advertising

    .member.columns.small-6.medium-3.large-2
      .profile
        img(src='images/team/advertising/nicola-di-schino-bw.jpg', alt='Nicola Di Schino')
        span.filter.advertising
      .name.text-center.vertical-align
        h1
          | Nicola
          br
          |  Di Schino
          small Advertising

    .member.columns.small-6.medium-3.large-2.show-for-medium-up.negative
      .profile
        img(src='images/logo.jpg', alt='Logo')
        span.filter

    .member.columns.small-6.medium-3.large-2.show-for-large-up.negative
      .profile
        img(src='images/logo.jpg', alt='Logo')
        span.filter

    // Event Management
    .member.columns.small-6.medium-3.large-2
      .profile
        img(src='images/team/event-management/alessandro-del-signore-bw.jpg', alt='Alessandro Del Signore')
        span.filter.event
      .name.text-center.vertical-align
        h1
          | Alessandro
          br
          | Del Signore
          small Event Management

    .member.columns.small-6.medium-3.large-2
      .profile
        img(src='images/team/event-management/chiara-paolino-bw.jpg', alt='Chiara Paolino')
        span.filter.event
      .name.text-center.vertical-align
        h1
          | Chiara Paolino
          small Event Management

    .member.columns.small-6.medium-3.large-2
      .profile
        img(src='images/team/event-management/giulia-drazza-bw.jpg', alt='Giulia Drazza')
        span.filter.event
      .name.text-center.vertical-align
        h1
          | Giulia Drazza
          small Event Management

    .member.columns.small-6.medium-3.large-2
      .profile
        img(src='images/team/event-management/marta-persia-bw.jpg', alt='Marta Persia')
        span.filter.event
      .name.text-center.vertical-align
        h1
          | Marta Persia
          small Event Management

    .member.columns.small-6.medium-3.large-2
      .profile
        img(src='images/team/event-management/melania-mattei-bw.jpg', alt='Melania Mattei')
        span.filter.event
      .name.text-center.vertical-align
        h1
          | Melania Mattei
          small Event Management

    .member.columns.small-6.medium-3.large-2.show-for-medium-only.negative
      .profile
        img(src='images/logo.jpg', alt='Logo')
        span.filter

    // Fashion
    .member.columns.small-6.medium-3.large-2
      .profile
        img(src='images/team/fashion/luigi-colletti-bw.jpg', alt='Luigi Colletti')
        span.filter.fashion
      .name.text-center.vertical-align
        h1
          | Luigi Colletti
          small Fashion Stylist

    .member.columns.small-6.medium-3.large-2
      .profile
        img(src='images/team/fashion/marco-hebara-bw.jpg', alt='Marco Hebara')
        span.filter.fashion
      .name.text-center.vertical-align
        h1
          | Marco Hebara
          small Fashion Stylist

    .member.columns.small-6.medium-3.large-2.show-for-large-up.negative
      .profile
        img(src='images/logo.jpg', alt='Logo')
        span.filter

    // Marketing
    .member.columns.small-6.medium-3.large-2
      .profile
        img(src='images/team/marketing/michele-magro-bw.jpg', alt='Michele Magro')
        span.filter.marketing
      .name.text-center.vertical-align
        h1
          | Michele Magro
          small Marketing

    .member.columns.small-6.medium-3.large-2
      .profile
        img(src='images/team/marketing/vittoria-coggiatti-bw.jpg', alt='Vittoria Coggiatti')
        span.filter.marketing
      .name.text-center.vertical-align
        h1
          | Vittoria Coggiatti
          small Marketing

    .member.columns.small-6.medium-3.large-2.show-for-large-up.negative
      .profile
        img(src='images/logo.jpg', alt='')
        span.filter

    // Media Design
    .member.columns.small-6.medium-3.large-2
      .profile
        img(src='images/team/media-design/beatrice-perotto-bw.jpg', alt='Beatrice Perotto')
        span.filter.media
      .name.text-center.vertical-align
        h1
          | Beatrice Perotto
          small Web Designer

    .member.columns.small-6.medium-3.large-2
      .profile
        img(src='images/team/media-design/giacomo-della-grazia-bw.jpg', alt='Giacomo Della Grazia')
        span.filter.media
      .name.text-center.vertical-align
        h1
          | Giacomo
          br
          | Della Grazia
          small App Developer

    .member.columns.small-6.medium-3.large-2
      .profile
        img(src='images/team/media-design/roman-horokhovatskyy-bw.jpg', alt='Roman Horokhovatskyy')
        span.filter.media
      .name.text-center.vertical-align
        h1
          | Roman Horokhovatskyy
          small Front-end Developer

    .member.columns.small-6.medium-3.large-2
      .profile
        img(src='images/team/media-design/silvia-latini-bw.jpg', alt='Silvia Latini')
        span.filter.media
      .name.text-center.vertical-align
        h1
          | Silvia Latini
          small Web Designer

    .member.columns.small-6.medium-3.large-2.show-for-medium-only.negative
      .profile
        img(src='images/logo.jpg', alt='')
        span.filter

    // Photography
    .member.columns.small-6.medium-3.large-2
      .profile
        img(src='images/team/photography/adelaide-formato-bw.jpg', alt='Adelaide Formato')
        span.filter.photography
      .name.text-center.vertical-align
        h1
          | Adelaide Formato
          small Photographer

    .member.columns.small-6.medium-3.large-2
      .profile
        img(src='images/team/photography/camilla-giovannozzi.jpg', alt='Camilla Giovannozzi')
        span.filter.photography
      .name.text-center.vertical-align
        h1
          | Camilla Giovannozzi
          small Photographer

    .member.columns.small-6.medium-3.large-2
      .profile
        img(src='images/team/photography/mauro-maglione.jpg', alt='Mauro Maglione')
        span.filter.photography
      .name.text-center.vertical-align
        h1
          | Mauro Maglione
          small Photographer

    .member.columns.small-6.medium-3.large-2.show-for-large-up.negative
      .profile
        img(src='images/logo.jpg', alt='Logo')
        span.filter

    // Sound Design
    .member.columns.small-6.medium-3.large-2
      .profile
        img(src='images/team/sound-design/augusto-palombo-bw.jpg', alt='Augusto Palombo')
        span.filter.sound
      .name.text-center.vertical-align
        h1
          | Augusto Palombo
          small Sound Designer

    .member.columns.small-6.medium-3.large-2
      .profile
        img(src='images/team/sound-design/orlando-tosi-bw.jpg', alt='Orlando Tosi')
        span.filter.sound
      .name.text-center.vertical-align
        h1
          | Orlando Tosi
          small Sound Designer

    // Video Design
    .member.columns.small-6.medium-3.large-2
      .profile
        img(src='images/team/video-design/beatrice-cocchia-bw.jpg', alt='Beatrice Cocchia')
        span.filter.video
      .name.text-center.vertical-align
        h1
          | Beatrice Cocchia
          small Video Designer

    .member.columns.small-6.medium-3.large-2
      .profile
        img(src='images/team/video-design/matteo-serafini-bw.jpg', alt='Matteo Serafini')
        span.filter.video
      .name.text-center.vertical-align
        h1
          | Matteo Serafini
          small Video Designer

    .member.columns.small-6.medium-3.large-2.show-for-small-only.negative
      .profile
        img(src='images/logo.jpg', alt='')
        span.filter