include ../includes/variables

doctype html
html.no-js(lang="it")
  include ../includes/head
  body

    span#top(data-magellan-destination="top")

    // Mobile navigation
    include ../includes/magellan

    // Intro
    include ../includes/sections/intro

    // Manifesto
    include ../includes/sections/manifesto

    // Credibility
    include ../includes/sections/credibility

    // People
    include ../includes/sections/people

    // Case History
    include ../includes/sections/case-history

    // Business Plan
    include ../includes/sections/business-plan

    include ../includes/footer